.task1 .item {
  position: relative;
  top: 150px;
  left: 200px;
}

.task2 .item {
  position: relative;
  top: calc(50% - (80px / 2));
  left: calc(50% - (80px / 2));
}

.task3 .item {
  position: absolute;
  top: 0px;
  left: 0px;
}

.container4 {
  position: relative;
}

.task4 {
  width: 1000px;
}
.task4 .item {
  position: sticky;
  top: 0px;
  left: calc(50% - (80px / 2));
}

.task5 .item1 {
  background-color: red;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}
.task5 .item2 {
  background-color: blue;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 40px;
}
.task5 .item3 {
  background-color: green;
  position: absolute;
  z-index: 3;
}

.task6 .item {
  float: left;
}

.task7 .item {
  float: right;
}

.task8 .item1 {
}
.task8 .item2 {
  height: 120px;
  position: absolute;
  top: 0px;
  right: 0px;
  
}

.task8 p {
  position: absolute;
  top: 125px;
  clear: both;
}

.task9 .item1 {
  height: 200px;
  float: left;
}
.task9 .item2 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.task9 p {
  position: relative;
  top: 90px; 
}

.task10 .item1 {
}
.task10 .item2 {
  height: 200px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.task10 p {
  clear: none;
}

.task11 .img-item {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;

  object-fit: fill;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center right;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: top left;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: bottom center;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 25px 40px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center center;
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  caret-color: blue;
}

html {
  scroll-behavior: smooth;
}
